.header-text{
    max-width: 683px;
    font-size: 36px;
    font-weight: 400;
    list-style: 40px;
}
.product p{
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin-top: 17px;
    margin-left: 20px;
}
.product h2{
    font-size: 18px;
    color: rgba(69, 82, 91, 1);
    font-family: 'Palatino Linotype';
    font-weight: 400;
    line-height: 22px;
    margin-left: 20px;
}
.text{
    max-width: 380px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 110px;
}
.know{
    margin-top: 120px;
    margin-bottom: 120px;
}
.bttn{
    width: 376px;
    border: 1px solid black;
    height: 38px;
    background: #fff;
    border-radius: 8px;
}
.button{
    background: black;
    width: 82px;
    height: 38px;
    border: none;
    border-radius: 6px;
}
.know h4{
    font-family: 'Palatino Linotype';
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    margin-top: 20px;
}
.know p{
    max-width: 373px;
    font-family: Georgia;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.name{
    font-family: Georgia;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.sport-h2{
    font-family: 'Palatino Linotype';
    font-size: 18px;
    color: rgba(69, 82, 91, 1);
    font-weight: 400;
    line-height: 24px;
}
.sport-p{
    font-family: Georgia;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    max-width: 538px;
}
.sport__p{
    font-family: Georgia;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    color: rgba(69, 82, 91, 1);
}
.sport-text{
    font-family: Georgia;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    max-width: 736px;
}
.footer{
    margin-top: 120px;
}